<%= form_for @member do |form| %>
  
  <div class="field form-group">
    <%= form.label :room_no, style: "display: block" %>
    <%= form.text_field :room_no, :class => 'form-control', placeholder: "Enter your room number" %>
  </div>
  <br>

  <div class="field form-group">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, :class => 'form-control', placeholder: "Please enter your name" %>
  </div>
  <br>

  <div class="field form-group">
    <%= form.label :mobile, style: "display: block" %>
    <%= form.text_field :mobile, :class => 'form-control',placeholder: "Please enter your mobile no." %>
  </div>
  <br>

  <div class="field form-group">
    <%= form.label :purchase_year, style: "display: block" %>
    <%= form.text_field :purchase_year, :class => 'form-control', placeholder: "Your room no." %>
  </div>
  <br>

  <div><%= form.submit nil, class: "btn btn-primary" %></div>
  
<% end %>
